[submodule "SmokeDetector"]
	path = SmokeDetector
	url = https://github.com/Charcoal-SE/SmokeDetector.git
[submodule "ChatExchange"]
	path = ChatExchange
	url = https://github.com/Manishearth/ChatExchange.git
